body{
  background-color: #F4F2EE;
}

p {
  font-family: nunito;
  text-align: justify;
  margin-right: 20px;
}

h1{
  font-family: montserrat extrabold;
  padding-top: 20px;
}

h2{
  font-family: Montserrat;
  text-align: left
}

.paper{
  background-color: white; 
  max-width: 900px; 
  text-align: center; 
  margin: 0 auto; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.container {
  display: flex; 
  align-items: center;
  margin: 0 auto; 
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-image{
  width: 180px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact {
  display: flex;
  align-items: center;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

a:link {
  color: blue;
  text-decoration: none; /
}

a:visited {
  color: blue;
}


a:hover {
  color: red;
}

.table-title{
  font-size: large;
  font-family: nunito bold;
}

table, th, td{
  border: 2px solid rgb(255, 255, 255);
  border-collapse: separate;
  height: 40px;
  font-family: nunito; 
  width: 800px;
}

th, td{
  background-color:beige;
  
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #363062; 
  color: #fff; 
}

.navbar button {
  background-color: #363062;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-family: montserrat;
}

.navbar button:hover {
  background-color: #F99417;
}